<header>
    <nav>
        <ul *ngIf="!this.authService.isLoggedIn">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/discover">Discover</a></li>
            <li><a routerLink="/login">Login</a></li>
        </ul>
        <ul *ngIf="this.authService.isLoggedIn && !this.authService.isAdmin">
            <li class="user"><a [routerLink]="['/profile', this.authService.id]">{{this.authService.username}}</a>
                <ul>
                    <li><a [routerLink]="['/home/profile', this.authService.id]">Profile</a></li>
                    <li><a href="" (click)="this.authService.logout()">Logout</a></li>
                </ul>
            </li>
            <li><a routerLink='/home'>Home</a></li>
            <li><a routerLink="/discover">Discover</a></li>
            <li><a routerLink="/create">Create</a></li>
        </ul>
        <ul *ngIf="this.authService.isLoggedIn && this.authService.isAdmin">
            <li class="user"><a [routerLink]="['/profile', this.authService.id]">{{this.authService.username}}</a>
                <ul>
                    <li><a [routerLink]="['/home/profile', this.authService.id]">Profile</a></li>
                    <li><a routerLink="/admin">Admin</a></li>
                    <li><a routerLink="/login" (click)="this.authService.logout()">Logout</a></li>
                </ul>
            </li>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/discover">Discover</a></li>
            <li><a routerLink="/create">Create</a></li>
            <li><a routerLink="/pendings">Pendings</a></li>
        </ul>
    </nav>
</header>