header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    will-change: transform;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    z-index: 3;

}
header.hidden {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}
nav {
    float: right;
    height: 100%;
    padding-right: 5%;

}
nav > ul {
    position: absolute;
    z-index: 2;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    display: none;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}

nav > ul > li {
    display: inline-block;
    color: white;
}
span{
    height: 25px;
    width: 25px;
    background: linear-gradient(#e66465, #9198e5);
    border-radius: 50%;
    display: inline-block;
}
.circle1{
    height: 35px;
    width: 35px;
    position: absolute;
    top: 70%;
    left: 50%;
}
.circle2{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -30%;
    left: 20%;
}
@media only screen and (min-width: 1024px) {
    nav {
        display: table;
    }

    nav > ul {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        width: auto;
        top: 0;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
    }

    nav > ul > li {
        float: left;
        margin-right: 1.5em;
    }
}
.fav-extensions{
    height: 100vh;
    background-image: url("ps-background.jpg");
    background-size: cover;
    background-position: center bottom;
}
.info-container{
    width: 16%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    /* border: 3px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8%;
    overflow: hidden;
    top: 50%;
    left:50%;
    margin: -8% 0 0 -8%;
}
.info-box{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}
.info-box .logo-box{
    width: 50%;
    position: absolute;
    top: 50%;
    left:50%;
    margin: -25% 0 0 -25%;
}
.info-box img{
    content:url("photoshop-logo.png");
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}
.hover-circle{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 250%;
    height: 250%;
    background-color: black;
    transition: 1s;
    border-radius: 50%;
    box-shadow: 0 0 0 20px #000000;
    overflow: hidden;
}
.info-box:hover .hover-circle{
    width: 10px;
    height: 10px;
}
.info-box:hover .hover-box{
    width: 500px;
    height: 500px;
}
.info-box:hover .logo-container{
    width: 0;
    height: 0;
}
.info-box:hover .info{
    transition-delay: 1s;
    opacity: 1;
}
.logo-container{
    position: absolute;
    overflow: hidden;
    transition: 1s;
    width: 100%;
    height: 100%;
    bottom: 0;
}
.info{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: 1s;
    transition-delay: 0s;
}
.info p{
    margin-top: 60px;
    margin-left: 5px;
    font-size: 120%;
    font-style: italic;

}
.info b{
    font-weight: bold;
    font-style: normal;

}
.second-section {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
}
.second-section > div {
    transform: translateY(100%);
    transition: all 1s ease-out;
    background-color: white;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
}
.second-section > div.translate-second-section {
    transform: translateY(0%);
}
.translate-first-section{
    transform: translateY(-100%);

}