section{
    overflow: hidden;
    height: 100vh;
    width: 100%;
}
.loading-animation div{
    position: absolute;
    bottom: 50%;
    left: 50%;
    height: 5%;
    width: 5%;
    margin: 0 0 -2.5% -2.5%;
    text-align: center;
    font-size: 2em;
}
.loading-animation{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 4;
    margin: 0;
    background: #00000080;
}
.fav-extensions{
    height: 100vh;
}
.fav-extensions ul{
    position: absolute;
    bottom: 5%;
    width: 100%;
    z-index: 4;
    text-align:center;
}
.fav-extensions li{
	display:inline-block;
    height: auto;
    width: 1%;
    margin-right: 0.5%;
    padding-top: 1%;
    background-color: rgba(250, 250, 250, 0.3);
    border-radius: 50%;
}
.fav-extensions li:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.fav-extensions .current{
    background-color: rgba(0, 0, 0, 0.973);
}
.fav-extensions .info-container{
    display: none;
}
.backgrounds{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.backgrounds img{
    height: 100vh;
    width: 100%;
    display: inline-block;
    position: absolute;

    background-size: cover;
    background-position: center bottom;
}
.backgrounds .current{
    z-index: 2;
}
.backgrounds .backward{
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
        transform: translateX(-100%);      
    transition: transform 2s;  
    z-index: 3;

}
.info-container{
    width: 16%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    z-index: 4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8%;
    overflow: hidden;
    top: 50%;
    left:50%;
    margin: -8% 0 0 -8%;
}
.info-box{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}
.info-box .logo-box{
    width: 50%;
    position: absolute;
    top: 50%;
    left:50%;
    margin: -25% 0 0 -25%;
}
.info-box img{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}
.hover-circle{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 250%;
    height: 250%;
    background-color: black;
    transition: 1s;
    border-radius: 50%;
    overflow: hidden;
}
.info-box:hover .hover-circle{
    width: 15%;
    height: 15%;
}
.info-box:hover .hover-box{
    width: 500px;
    height: 500px;
}
.info-box:hover .logo-container{
    width: 25%;
    height: 25%;
}
.info-box:hover .extension-info{
    transition-delay: 1s;
    opacity: 1;
}
.rating{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    height: 25%;
    padding-left: 22%;
}
.rating i{
    font-size: 1.6em;
    color: #f6cd61;
}
.logo-container{
    position: absolute;
    overflow: hidden;
    transition: 1s;
    width: 100%;
    height: 100%;
    bottom: 0;
}
.fade-in{
    opacity: 1;
    transition: 1s;
    animation: fadeIn 2.5s;
}
.name{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    height: 25%;
}
.extension-info{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    text-transform: capitalize;
    transition: 1s;
    transition-delay: 0s;
}
.extension-info p{
    margin-left: 5px;
    font-size: 1.3em;
    font-style: italic;
    visibility: visible;
    display: block;
    height: 50%;
    color: black;
}
.extension-info b{
    margin-left: 5px;
    font-size: 1.8em;
    padding-left: 20%;
    width: 100%;
    line-height: normal;
    font-weight: bold;
    color: black;
    font-style: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media (max-width: 1200px) {
    .fav-extensions .info-container {
        width: 100%;
        box-shadow: none;
        background: black;
        left: 0;
        margin: -5% 0 0 -5%; 
    }

    .fav-extensions{
        height: 8vh;
        background: black;
        position: relative;

    }
    section{
        height: 8vh;
    }
    .backgrounds {
        display: none;
    }

    .info-box{
        width: 100%;
        padding-bottom: 10%;
    }

    .logo-container{
        width: 10%;
        height: 100%;
        bottom: 0;
        left: 50%;
    }
    
    .info-box .logo-box{
        margin: -35% 0 0 -35%;
        width: 70%;
    }

}
@-webkit-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
