<form #userForm="ngForm" (ngSubmit)="login(userForm)" autocomplete="on">
    <div class="inputs-container">
        <div>  
            <i class="fas fa-user"></i>
            <input name="username" type="text" placeholder="username" ngModel required autocomplete="username">
        </div>
        <div>  
            <i class="fas fa-key"></i>
            <input name="password" type="password" placeholder="password" ngModel required autocomplete="password">
        </div>
    </div>
    <div class="buttons-container">
        <button>register</button>
        <button>login</button>
    </div>
    <span></span>
</form>