<section class="cover-section"> 
    <div class="input">
        <label #button for="cover" class="as-field" (mouseover)="state ='active'" (mouseout)="state='inactive'">
            <i class="fas fa-image"></i> 
            <span>Cover:</span>
        </label>
        <input name="cover" (change)="addCover($event)" type="file" id="cover" ngModel required>        
    </div> 
    <div  class="background-animation">
         <label>
            <i class="fas fa-image"></i> 
            <span>Cover:</span>
        </label>
    </div>  
    <div class="cover"> 
        <div [ngStyle]="{'background-image':'url(' + coverURL + ')'}" *ngIf="coverURL"></div>
    </div>
</section>
<section class="extension-section"> 
</section>
<section class="create">
    <div class="cover">
        <div [ngStyle]="{'background-image':'url(' + coverURL + ')'}" *ngIf="coverURL"></div>
    </div>
    <form #extensionForm="ngForm" (ngSubmit)="createExtension(extensionForm)">
        <div class="extension-info">
            <div class="logo-container">
                <div class="logo">
                    <img [src]="getSantizeUrl(logoURL)" *ngIf="logoURL"/>
                </div>
            </div>
            <input [formControl]="nameInput" type="text" placeholder="Name">
            <div class="loading-container">
                <i *ngIf="nameAvailable == 'loading'" class="fas fa-circle-notch fa-spin"></i>
                <i *ngIf="nameAvailable == 'true'" class="fas fa-check"></i>
                <i *ngIf="nameAvailable == 'false'" class="fas fa-times"></i>
            </div>
            <input [formControl]="gitHubInput" name="github" type="text" placeholder="GitHub repo">
            <div class="loading-container">
                <i *ngIf="gitHubAvailable == 'loading'" class="fas fa-circle-notch fa-spin"></i>
                <i *ngIf="gitHubAvailable == 'true'" class="fas fa-check"></i>
                <i *ngIf="gitHubAvailable == 'false'" class="fas fa-times"></i>
            </div>
            <input name="version" type="text" placeholder="Version" ngModel required>
            <input name="tags" type="text" placeholder="Tags" ngModel required>
        </div>
        <div class="extension-files">
            <label for="file">
                <i class="fas fa-cloud-upload-alt"></i> File:
            </label>
            <input name="file" (change)="addFile($event)" type="file" id="file" ngModel required>
            <label for="logo">
                <i class="fas fa-image"></i> logo:
            </label>
            <input name="logo" (change)="addLogo($event)" type="file" id="logo" ngModel required>
            <label  for="cover">
                <i class="fas fa-image"></i> 
                <span>Cover:</span>
            </label>
            <input name="cover" (change)="addCover($event)" type="file" id="cover" ngModel required>

            <button type="submit">
                <i class="fas fa-angle-double-right"></i>
                <span>submit for review</span>
            </button>
        </div>
        <div class="extension-description">
            <textarea name="description" placeholder="Description" id="description" ngModel required></textarea>    
        </div>
    </form>
</section>