section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}
h1{
    text-align: center;
    font-size: 2.5em;
}
form{
    width: 100%;
    height: calc(50% - 30px);
}
form > div{
    height: 100%;
    width: 35%;
    float: left;
}
form > div.extension-files{
    width: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
span{
    margin-left: 5px;
}
label{
    text-align: center;
    box-sizing: border-box;
    border-radius: 16px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
label:hover span{
    display: none;
}
label:hover i{
    animation: fadeIn 2.5s;
}
label.black span{
    display: none;
}
label.black:hover span{
    display: inline-block;
}
textarea{
    text-align: center;
    width: 92%;
    height: 94%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    border: 3px solid black;
    padding: 5px;
}
button{
    background: black;
    color: white;
    border: 1px solid black;
    padding: 5%;
    text-align: center;
    box-sizing: border-box;
    transition: 1s;
    width: 50%;
    margin-left: 25%;
    border-radius: 16px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button span{
    margin-left: 5px;
}
button:hover span{
    opacity: 0;
    transition: 1s;
}
button i{
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
button:hover i{
    transition: 1s;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}
.black{
    background: black;
    color: white;
}
.cover{
    position: relative;
    height: 50%;
    width: 100%;
    padding-top: 30px;
}
.cover-section .cover{
    height: 100%;
    position: absolute;
    bottom: 0;  
}
.cover-section label{
    background: black;
    border: 3px solid white;
}
.background-animation{
    background: black;
}
.cover-section .input{
    width: 100%;
    height: 100%;
    z-index: 4;
}
.cover-section .background-animation{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.cover-section .input label{
    z-index: 4;
    width: 25%;
    padding: 2.5%;
    position: absolute;
    bottom: 17%;
    right: 15%;
}
.cover-section .background-animation{
    width: 100%;
    height: 100%;
}
.cover-section .background-animation label{
    color: transparent;
    background: white;
    transition: 2s;
    padding: 2.5%;
    position: absolute;
    bottom: 17%;
    right: 15%;
    
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transform: translateZ(0) scale(20);
    -moz-transform: translateZ(0) scale(20);
    -ms-transform: translateZ(0) scale(20);
    -o-transform: translateZ(0) scale(20);
    transform: translateZ(0) scale(20);
    width: 25%;

}
.cover-section .input:hover + .background-animation label{
    background: white;
    -webkit-transform: translateZ(0) scale(0);
    -moz-transform: translateZ(0) scale(0);
    -ms-transform: translateZ(0) scale(0);
    -o-transform: translateZ(0) scale(0);
    transform: translateZ(0) scale(0);
}
.cover div{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: bottom left;
}
.extension-container,
.preview-section > div{
    width: 100%;
    opacity: 0;
    position: relative;
    transition: opacity 3s;
    height: 100%;
    background: white;
    z-index: 4;
    pointer-events: none;
}
.extension-section > div.fade-in,
.preview-section > div.fade-in{
    opacity: 1;
    pointer-events: all;
}
.extension-section .tags{
    position: absolute;
    left: 0%;
    top: 40%;
    height: 15.6%;
    width:36%;
    text-align: center;
    z-index: 3;
}
.tags *{
    float: left;
}
.github-container{
    height: 40%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.github{
    margin-bottom: -20%;
}
.info-container{
    width: 16%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8%;
    top: 50%;
    left:50%;
    margin: -8% 0 0 -8%;
}
.tags input{
    margin-top: 8px;
    margin-left: 8px;
    padding: 0.5% 1.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: 2px solid black;
    align-self: center;
    float: none;
}
.tags input.left{
    float: left;
}
.tags i{
    font-size: 0.6em;
    align-self: center;
    margin-right: 2px;
}
.info-container input{
    display: none;
}
.info-container label,
.tags div,
.github span{
    background: black;
    color: white;
    border: 3px solid white;
    margin-top: 3px;
}
.tags div,
.github span{
    padding: 0.5% 1.5%;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 0px -1px rgba(0, 0, 0, 0.19);
    background: white;
    margin-top: 7px;
    margin-left: 15px;
    border-radius: 3px;
    font-size: 13px;
    color: #333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.github span{
    width: 16%;
    display: inline-block;
}
.submit-menu{
    height: 50%;
    width: 27%;
    position: absolute;
    left: -33%;
    top: 0;
    text-align: center;
}
.info-container label{
    position: relative;
    margin-top: 0;
    border-radius: 5px;
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    padding: 30% 0;
    border-width: 1px;
    margin-left: 0;
}
.info-container label i{
    position: absolute;
}
.info-container .circle-container{
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    position: absolute;
    border-radius: 8%;
}
.info-container:focus {
    outline: 0;
}
.info-box{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}
.info-box button{
    position: absolute;
    bottom: -10%;

}
.info-box .logo-box{
    width: 50%;
    position: absolute;
    top: 50%;
    left:50%;
    margin: -25% 0 0 -25%;
}
.info-box img{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}
.hover-circle{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 250%;
    height: 250%;
    background-color: black;
    transition: 1s;
    border-radius: 50%;
    overflow: hidden;
}
.extension{
    position: relative;
    float: right;
    height: 100%;
    width: 40%;
    text-align: center;
    z-index: 3;
}
.extension-mobile {
    display: none;
}
.extension-info-container{
    height: 60%
}
.extension .name{
    font-size: 2.5em;
    text-align: center;
}
.version{
    padding-right: 5%;
}
.extension .info{
    height: 50%;
}
.extension textarea{
    height: 100%;
}
.extension input{
    border: 0px;
    padding-left: 5%;
    width: 90%;
    text-align: center;
    background: transparent;
}
.extension input::placeholder { 
    color: black;
    opacity: 1
}
.extension input:-ms-input-placeholder {
    color: black;
} 
.extension input::-ms-input-placeholder {
    color: black;
}
.circle-container{
    width: 20%;
}
.circle{
    background: linear-gradient(#e66465, #9198e5);
    border-radius: 50%;
    display: inline-block;
    padding-bottom: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 20%;
    transition: 2s;
    -webkit-transform: translateZ(0) translateY(90%);
    -moz-transform: translateZ(0) translateY(90%);
    -ms-transform: translateZ(0) translateY(90%);
    -o-transform: translateZ(0) translateY(90%);
    transform: translateZ(0) translateY(90%);
}
.circle.animate{
    transition: 5s;
    -webkit-transform: translateZ(0) translateY(0%);
    -moz-transform: translateZ(0) translateY(0%);
    -ms-transform: translateZ(0) translateY(0%);
    -o-transform: translateZ(0) translateY(0%);
    transform: translateZ(0) translateY(0%);
}
.loading-container:hover ~ input.error{
    display: block;
}
.loading-animation div{
    position: absolute;
    bottom: 50%;
    left: 50%;
    height: 5%;
    width: 5%;
    margin: 0 -2.5%;
    text-align: center;
    font-size: 2em;
}
.loading-animation{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 4;
    margin: 0;
    background: #00000080;
}
.loading-container{
    display: inline-block;
    width: 5%;
}
@media (max-width: 1200px) {
    section{
        position: relative;
    }
    .extension-section .circle{
        width: 130%;
        padding-bottom: 130%;
        left: 50%;
        margin-left: -65%;
        bottom: 5%;
        margin-bottom: 15%;
    }
    .extension-section .info-container {
        width: 30%;
        margin: 0 0 0 -15%;
        top: auto;
        bottom: 6%;
    }
    .info-container label{
        left: 110%;
        padding: 4%;
        bottom: 0;
        margin-bottom: -1%;
        border-radius: 5px;
        border-width: 2px;
        width: fit-content;
    }
    .extension-section .extension-container{
        height: 60vh;
    }
    .extension-section .extension-container::after{
        content: ' ';
        height: 100vh;
        background: white;
        width: 100vh;
        display: block;
    }
    .extension-mobile{
        display: block;
        z-index: 4;
        position: relative;
        text-align: center;
    }
    .extension-mobile input{
        text-align: center;
        border: 0px;
        background: transparent;
    }
    .extension{
        display: none;
    }
    .extension-section .tags{
        top: 40%;
        height: 50.6%;
        width: 35%;
    }
}
@-webkit-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }