<section class="create">
    <div class="cover">
    </div>
    <form action="" class="regular" id="submit-form">
        <div class="extension-info">
            <div class="logo-container">
                <div class="logo">
                    <img/>
                </div>
            </div>
            <input [formControl]="nameInput" type="text" placeholder="Name">
            <input [formControl]="gitHubInput" type="text" placeholder="GitHub repo">
            <div class="loading-container">
                <i class="fas fa-circle-notch fa-spin"></i>
            </div>
            <input type="text" placeholder="Version">
            <input type="text" placeholder="Tags">



        </div>
        <div class="extension-files">
            <label for="file" class="as-field">
                <i class="fas fa-cloud-upload-alt"></i> File:
            </label>
            <input type="file" id="file" class="submit-file">
            <label for="image" class="as-field">
                <i class="fas fa-image"></i> Icon: <span>select image</span>
            </label>
            <input type="file" id="image" class="submit-file">
            <label  class="as-field">
                <i class="fas fa-cloud-upload-alt"></i> File:
            </label>
            <button type="submit" class="menu-item" id="submit-btn"><i class="fas fa-angle-double-right"></i> submit for
                review
            </button>
        </div>
        <div class="extension-description">
            <textarea placeholder="Description" id="description"></textarea>    
        </div>
    </form>
</section>