<header>
    <nav>
        <span class="circle"></span>
        <span class="circle1"></span>
        <span class="circle2"></span>
        <ul *ngIf="!this.authService.isLoggedIn">
            <li><a href="">Home</a></li>
            <li><a href="">Discover</a></li>
            <li><a [routerLink]="'/login'">Login</a></li>
        </ul>
        <ul *ngIf="this.authService.isLoggedIn && !this.authService.isAdmin">
            <li><a href="">Home</a></li>
            <li><a href="">Discover</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="">Create</a></li>
            <li><a href="" (click)="this.authService.logout()">logout</a></li>
        </ul>
        <ul *ngIf="this.authService.isLoggedIn && this.authService.isAdmin">
            <li><a href="">Home</a></li>
            <li><a href="">Discover</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="">Admin</a></li>
            <li><a href="">Create</a></li>
            <li><a href="">Pendings</a></li>
            <li><a href="" (click)="this.authService.logout()">logout</a></li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>


