<h1>25 Extensions found<h1>
<form>
    <input>
</form>
<div class="action-btn" id="orderBy">
    <button class="menu-item" orderBy="date"><i class="fas fa-calendar-alt"></i> By latest upload date</button>
    <button class="menu-item" orderBy="name"><i class="fas fa-i-cursor"></i> By name</button>
    <button class="menu-item" orderBy="downloads"><i class="fas fa-fire"></i> By popularity</button>
    <button class="menu-item" orderBy="commits"><i class="fas fa-code-branch"></i> By latest commit</button>
</div>
<div class="info-container" *ngFor="let extension of user['extensions'] | paginate: config" [routerLink]="['/extension', extension.id]">
    <div class="info-box">
        <div class="hover-circle">
        </div>
  
        <div class="logo-container">
            <img class="logo-box" [src]="extension.imageLocation"/>
        </div>
  
        <div class="extension-info">
            <p>
                <b>Adobe Photoshop</b> is a raster graphics editor developed and published by Adobe Inc. for
                Windows and macOS.
            </p>
        </div>
    </div>
</div>