<section>
    <div class="cover" [ngStyle]="{'background-image':'url(' + extension.coverLocation + ')'}" *ngIf="extension.coverLocation">
    </div>
    <div class="extension-info">
        <div class="logo-container">
            <div class="hover-circle">
            </div>
            <div class="logo-box">
                <img class="logo" [src]="extension.imageLocation" *ngIf="extension.imageLocation"/>
            </div>
        </div>
        <div class="extension">
            <div class="admin-menu">
                <button><i class="fas fa-cog"></i></button> 
                <button><i class="fas fa-trash-alt"></i></button> 
                <button><i class="fas fa-sync-alt"></i></button> 
                <button (click)="setFeatureState()" [ngStyle]="{'color': extension.featured ? 'orange' : 'black' }"><i class="fas fa-star"></i></button> 
                <button [routerLink]="['/edit', extension.id]"><i class="fas fa-edit"></i></button> 
                <button><i class="fas fa-check"></i></button> 
            </div>
            <h1>{{extension.name}}</h1>
            <div class="extension-info-container">
                <h2>Rating: {{extension.rating}}</h2>
                <h3>Owner: <a [routerLink]="['/profile', extension.ownerId]">{{extension.ownerName}}</a></h3>
                <h5>Info</h5>
            </div>
            <div class="info">
                <p>
                    {{extension.description}}
                </p>
            </div>
        </div>
        <div class="circle-container">
            <span class="circle"></span>
        </div>
        <div class="sliding-info-container">
            <div class="github-info">
                <span>Pull requests</span>
                <span>Open issues</span>
                <span>Last commit</span>
                <span>{{extension.pullRequests}}</span>
                <span>{{extension.openIssues}}</span>
                <span>{{extension.lastCommit | date : 'yyyy-MM-dd'}}</span>
            </div>
            <div class="user-menu">
                <a [href]="extension.fileLocation"><i class="fas fa-download"></i>Download</a>
                <div>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <a [href]="extension.gitHubLink"><i class="fab fa-github"></i>GitHub</a>
            </div>
            <div class="tags">
                <a [routerLink]="['/tag', tag]" *ngFor="let tag of extension.tags">{{tag}}</a>
            </div>
        </div>
    </div>
    
</section>