*{
    font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
}
section{
    height: 100vh;
    width:100%;
    overflow: hidden;
}
section > div{
    float: left;
}
.cover{
    width: 70%;
    height:100%;
}
.cover img{
    width: 100%;
    height: 100%;
    background-image: url("ps-background.jpg");
    background-size: cover;
    background-position: right bottom;
}
.extension-info{
    width: 30%;
    height: 100%;
}
.image-container{
    width: 100%;
    height: 30%;
    position: relative;
}
.image-container img{
    position: absolute;
    width: 30%;
    padding-bottom: 30%;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -15%; 
}
.info-container{
    text-align: center;
    padding-top: 5%;
    height: 100%;
    width: 100%;
}
.info-container > div{
    font-size: 1.8em;
    font-weight: bold;
}
.info-container > div.info{
    font-size: 1em;
    padding-top: 10%;
}
.info > div {
    margin-bottom: 10%;
    width:50%;
    float: left;
    text-align: center;
}
.info p{
    width: 100%;
    height: 60%;
    font-weight: normal;
}
h3{
    font-size: 1.8em;
    padding-top: 10%;
}
