<section>
    <div class="cover" [ngStyle]="{'background-image':'url(' + extension.coverLocation + ')'}" *ngIf="extension.coverLocation">
    </div>
    <div class="extension-info">
        <div class="logo-container">
            <div class="hover-circle">
            </div>
            <div class="logo-box">
                <img class="logo" [src]="extension.imageLocation" *ngIf="extension.imageLocation"/>
            </div>
        </div>
        <div class="extension">
            <h1>{{extension.name}}</h1>
            <div class="extension-info-container">
                <h2>Rating: {{extension.rating}}</h2>
                <h3>Owner: {{extension.ownerName}}</h3>
                <h5>Info</h5>
            </div>
            <div class="extension-info">
                <p>
                    {{extension.description}}
                </p>
            </div>
        </div>
        <div class="circle-container">
            <span class="circle"></span>
        </div>
        <div class="sliding-info-container">
            <div class="github-info">
                <span>Pull requests</span>
                <span>Open issues</span>
                <span>Last commit</span>
                <span>{{extension.pullRequests}}</span>
                <span>{{extension.openIssues}}</span>
                <span>{{extension.lastCommit | date : 'yyyy-MM-dd'}}</span>
            </div>
            <div class="user-menu">
                <button><i class="fas fa-download"></i>Download</button>
                <div>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <button><i class="fab fa-github"></i>GitHub</button>
            </div>
            <div class="tags">
                <a>editor</a>
                <a>adobe</a>
                <a>illustrator</a>
                <a>illustrator</a>
            </div>
        </div>
    </div>
    
</section>