*:not(i){
    font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
}
section{
    height: 100vh;
    width:100%;
}
.cover{
    width: 100%;
    height:100%;
    background-size: cover;
    background-position: left bottom;
}
.extension-info{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.admin-menu{
    overflow: auto;
}
.admin-menu button{
    float: right;
    background: transparent;
    display: none;
    opacity: 0;
    border: 0;
}
.admin-menu button:hover i{
    transform: scale(0.8);
}
.admin-menu > :first-child{
    opacity: 1;
    animation-duration: 0s!important;
    display: block;
}
.admin-menu:hover button{
    animation: fadeIn 2.5s forwards;    
    display: block;
}
.admin-menu > :nth-child(3){
    animation-delay: 0.2s!important;
}
.admin-menu > :nth-child(4){
    animation-delay: 0.4s!important;
}
.admin-menu > :nth-child(5){
    animation-delay: 0.6s!important;
}
.admin-menu > :nth-child(6){
    animation-delay: 0.6s!important;
} 
.admin-menu i{
    font-size: 1.5em;
}
.logo-container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8% 0 0 -8%;
    border-radius: 8%;
    width: 16%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}
.logo-box{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}
.logo-box img{
    width: 50%;
    position: absolute;
    top: 50%;
    left:50%;
    margin: -25% 0 0 -25%;
}
.hover-circle{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 250%;
    height: 250%;
    background-color: black;
    transition: 1s;
    border-radius: 50%;
    overflow: hidden;
}
.extension{
    position: absolute;
    overflow: hidden;
    right: 0%;
    top: 40%;
    height: 60%;
    width:40%;
    text-align: center;
    z-index: 3;
}
.extension-info-container{
    text-align: center;
}
.extension h1{
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
    font-size: 5.8em;
    font-weight: bold;
    line-height: normal;
}
.extension h2{
    font-size: 1.5em;
    margin-top: 1%;
    font-weight: bold;
}
.extension h3{
    margin-top: 1%;
    font-size: 1.5em;
    font-weight: bold;
}
.extension h4{
    margin-top: 1%;
    font-size: 1.5em;
    font-weight: bold;
}
.extension h5{
    margin-top: 4%;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: underline;
}
.extension-info p{
    text-align: center;
    font-size: 1.8em;
}
.circle-container{
    width: 20%;
}
.circle{
    background: linear-gradient(#e66465, #9198e5);
    border-radius: 50%;
    display: inline-block;
    padding-bottom: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 20%;
    transition: 1s;
    -webkit-transform: translateZ(0) translateY(0);
    -moz-transform: translateZ(0) translateY(0);
    -ms-transform: translateZ(0) translateY(0);
    -o-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
}
.sliding-info-container{
    position: absolute;
    bottom: 0%;
    border-top: 1px solid black;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    z-index: 5;
    box-shadow: 0 -12px 17px 0 rgba(0, 0, 0, 0.3), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    align-items: center;
    padding: 10px 0;
}
.sliding-info-container > div{
    float: left; 
    width: 30%;
}
.sliding-info-container span,
.tags a{
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 0px -1px rgba(0, 0, 0, 0.19);
    background: white;
    margin-top: 7px;
    margin-left: 15px;
    border-radius: 3px;
    font-size: 13px;
    color: #333;
    text-decoration: none;
}
.github-info span{
    display: inline-block;
    padding: 4px 0px;
    width: 23%;
}
.sliding-info-container .user-menu{
    width:40%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.sliding-info-container .user-menu > div{
    display: inline-block;
    width: 50%;
}
.fa-star{
    font-size: 2em;
}

.user-menu a{
    background: white;
    color: black;
    border: 1px solid black;
    padding: 5%;
    text-align: center;
    box-sizing: border-box;
    width: 30%;
    text-decoration: none;
    border-radius: 16px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.user-menu a i{
    margin-right: 5px;
}
.sliding-info-container .tags{
    display: inline-block;
    align-self: baseline;
}
.tags a{
    float: left;
    padding: 4px 5px;
}
@-webkit-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }