<section>
    <div class="cover">
        <img/>
    </div>
    <div class="extension-info">
        <div class="image-container">
          <img src="../photoshop-logo.png">
        </div>  
        <div class="info-container">
            <div>
                <h1>Name: {{extension.name}}</h1>
                <h2>Rating: {{extension.rating}}</h2>
            </div>
            <div class="info">
                <div>
                    Pull requests:
                    <br>{{extension.pullRequests}}
                    <br>Open issues:
                    <br>{{extension.openIssues}}
                    <br>Upload date: 
                    <br>{{extension.uploadDate}}
                </div>
                <div>
                    Times downloaded:
                    <br>{{extension.timesDownloaded}}
                    <br>Times rated:
                    <br>{{extension.timesRated}}
                    <br>Last commit:
                    <br>{{extension.lastCommit}}
                </div>
                <h2>Info:</h2>
                <p>
                    {{extension.description}}
                </p>
            </div>
        </div>
    </div>
</section>