<section class="second-section">
    <div id="second-section">
        <div></div>
        <div class="profile">
            <h1>Adobe Inc.</h1>
            <div class="user-info-container">
                <h2>Extensions: 5</h2>
                <h3>Rating: 5</h3>
                <h4>Country: United States</h4>
                <h5>Info</h5>
            </div>
            <div class="user-info">
                <p>
                    Adobe Inc. is an American multinational computer software company
                    headquartered in San Jose, California. It has historically focused upon the creation of
                    multimedia and creativity software products.
                </p>
            </div>
        </div>
        <div class="info-container">
            <div class="hover-circle">
            </div>
            <div class="info-box">
                <img class="logo-box" />
            </div>
        </div>
        <div class="circle4-container">
            <span class="circle4"></span>
        </div>
    </div>
    <div class="user-extensions"></div>
</section>