<section class="second-section">
    <div id="second-section">
        <div></div>
        <div class="profile">
            <h1>Adobe Inc.</h1>
            <div class="user-info-container">
                <h2>Extensions: {{user['totalExtensions']}}</h2>
                <h3>Rating: {{user['rating']}}</h3>
                <h4>Country: {{user['country']}}</h4>
                <h5>Info</h5>
            </div>
            <div class="user-info">
                <p>
                    {{user['info']}}
                </p>
            </div>
        </div>
        <div class="info-container">
            <div class="hover-circle">
            </div>
            <div class="info-box">
                <img class="logo-box" />
            </div>
        </div>
        <div class="circle4-container">
            <span class="circle4"></span>
        </div>
    </div>
    <div class="user-extensions"></div>
</section>