<div class="mouse-wheel" mouseWheel>
    <section class="cover-section" *ngIf="!this.wheelDirective.isMobile"> 
        <div class="input">
            <label for="cover" class="as-field">
                <i class="fas fa-image"></i> 
                <span>Cover:</span>
            </label>
            <input name="cover" (change)="addCover($event)" type="file" id="cover" ngModel required>        
        </div> 
        <div  class="background-animation">
            <label>
                <i class="fas fa-image"></i> 
                <span>Cover:</span>
            </label>
        </div>  
        <div class="cover"> 
            <div [ngStyle]="{'background-image':'url(' + coverURL + ')'}" *ngIf="coverURL"></div>
        </div>
    </section>
    <section class="extension-section"> 
        <div [ngClass]="{'fade-in' : this.wheelDirective.submitComponent.currentSection != 'coverSection'}" #extensionSection class="extension-container">
            <div #tagsContainer (click)="focusInput(this)" class="tags">
                <div *ngFor = "let tag of tags" (click)="removeTag(tag)" ><i class="fas fa-tags"></i>{{tag}}</div>
                <input [ngClass]="{'left' : tags.length > 0}" [formControl]="tagsInput"  placeholder="Tags" #tagsInputElmnt>
            </div>
            <div class="info-container">
                <div class="circle-container">
                    <div class="hover-circle"></div>
                </div>
                <div class="info-box">
                    <img class="logo-box" [src]="getSanitizeUrl(logoURL)" *ngIf="logoURL"/>           
                </div>
                <div class="submit-menu">
                    <input name="file" (change)="addFile($event)" type="file" id="file" ngModel required>
                    <label for="file">
                        <i class="fas fa-cloud-upload-alt"></i>
                    </label>   
                    <input name="logo" (change)="addLogo($event)" type="file" id="logo" ngModel required>
                    <label for="logo">
                            <i class="fas fa-image"></i>
                    </label> 
                    <label type="submit" (click)="editExtension()">
                        <i class="fas fa-angle-double-right"></i>
                    </label>
                </div>
                <input name="logo" (change)="addLogo($event)" type="file" id="logo" ngModel required>
            </div>
            <div class="extension">
                <div class="github-container">
                    <div class="github" *ngIf="gitHub">
                        <span>User:</span>
                        <span>Last commit</span>
                        <span>Open issues</span>
                        <span>Pull requests</span>
                        <span>{{gitHub.user}}</span>
                        <span>{{gitHub.lastCommit | date: 'yyyy-MM-dd'}}</span>
                        <span>{{gitHub.openIssues}}</span>
                        <span>{{gitHub.pullRequests}}</span>
                    </div>
                </div>
                <div class="extension-info-container">                
                    <input [formControl]="nameInput" [value]="name" placeholder="Name" class="name">
                    <div class="loading-container">
                        <i *ngIf="nameAvailable === undefined" class="fas fa-circle-notch fa-spin"></i>
                        <i *ngIf="nameAvailable == true" class="fas fa-check"></i>
                        <i *ngIf="nameAvailable == false" class="fas fa-times"></i>
                    </div>
                    <input [formControl]="gitHubInput" name="github" type="text" placeholder="GitHub repo">
                    <div class="loading-container">
                        <i *ngIf="gitHubAvailable === undefined" class="fas fa-circle-notch fa-spin"></i>
                        <i *ngIf="gitHubAvailable == true" class="fas fa-check"></i>
                        <i *ngIf="gitHubAvailable == false" class="fas fa-times"></i>
                    </div>
                    <input class="version" [value]="version" [formControl]="versionInput" placeholder="Version">
                    <div class="info">
                        <textarea [value]="description" [formControl]="descriptionInput" placeholder="Description"></textarea>
                    </div>
                </div>
            </div>
            <div class="circle-container">
                    <span [ngClass]="{'animate' : this.wheelDirective.submitComponent.currentSection != 'coverSection'}" class="circle" id="circle"></span>
            </div>
        </div>
        <div class="extension-mobile">
            <input [formControl]="nameInput" [value]="name" placeholder="Name" class="name">
            <input [formControl]="gitHubInput" name="github" type="text" placeholder="GitHub repo">
            <input [value]="version" [formControl]="versionInput" placeholder="Version">
            <div class="info">
                <textarea [value]="description" [formControl]="descriptionInput" placeholder="Description"></textarea>
            </div>
        </div>   
    </section>
    <div *ngIf="this.wheelDirective.isMobile" class="github-container">
        <div class="github" *ngIf="gitHub">
            <span>User:</span>
            <span>Last commit</span>
            <span>Open issues</span>
            <span>Pull requests</span>
            <span>{{gitHub.user}}</span>
            <span>{{gitHub.lastCommit | date: 'yyyy-MM-dd'}}</span>
            <span>{{gitHub.openIssues}}</span>
            <span>{{gitHub.pullRequests}}</span>
        </div>
    </div>
    <div *ngIf="this.wheelDirective.isMobile" #tagsContainer (click)="focusInput(this)" class="tags">
        <div *ngFor = "let tag of tags" (click)="removeTag(tag)" ><i class="fas fa-tags"></i>{{tag}}</div>
        <input [ngClass]="{'left' : tags.length > 0}" [formControl]="tagsInput"  placeholder="Tags" #tagsInputElmnt>
    </div>
    <span *ngIf="gitHubAvailable === undefined" class="loading-animation">
        <div>
            <i class="fas fa-circle-notch fa-spin"></i>
        </div>
    </span> 
</div>