pagination-template ul{
    text-align:center;
}
pagination-template li{
    display: inline-block;
    margin-right: 0.0625rem;
    border-radius: 0;
    cursor: pointer;
}
pagination-template li.current{
    padding: 0.1875rem 0.625rem;
    background: black;
    color: white;
    cursor: default;
}
pagination-template ul a:hover{
    background: rgba(0, 0, 0, 0.4);
}
pagination-template a{
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 0;
}
pagination-template .previous.disabled::before{
    content: '«';
    display: inline-block;
    margin-right: 0.5rem;
}
pagination-template .previous.disabled{
    padding: 0.1875rem 0.625rem;
    color: #cacaca;
    cursor: default;
}
pagination-temlate a{
    color: #0a0a0a;
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 0;
}
pagination-template .previous a::before{
    content: '«';
    display: inline-block;
    margin-right: 0.5rem;
}
pagination-template .next.disabled{
    padding: 0.1875rem 0.625rem;
    color: #cacaca;
    cursor: default;
}
pagination-template .next.disabled::after{
    content: '»';
    display: inline-block;
    margin-left: 0.5rem;
}
pagination-template .next a::after{
    content: '»';
    display: inline-block;
    margin-left: 0.5rem;
}