<main>
    <div class="fav-extensions">
        <div id="backgrounds" class="backgrounds">
            <img class="current">
            <img>
            <img>
            <img>

        </div>
        <ul id="backgrounds-nav">
            <li class="current"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="info-container">
            <div class="info-box">
                <div class="hover-circle">
                </div>

                <div class="logo-container">
                    <img class="logo-box" />
                </div>

                <div class="extension-info">
                    <p>
                        <b>Adobe Photoshop</b> is a raster graphics editor developed and published by Adobe Inc. for
                        Windows and macOS.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <section class="second-section">
        <div id="second-section">
            <div></div>
            <div class="profile">
                <h1>Adobe Inc.</h1>
                <div class="user-info-container">
                    <h2>Extensions: 5</h2>
                    <h3>Rating: 5</h3>
                    <h4>Country: United States</h4>
                    <h5>Info</h5>
                </div>
                <div class="user-info">
                    <p>
                        Adobe Inc. is an American multinational computer software company
                        headquartered in San Jose, California. It has historically focused upon the creation of
                        multimedia and creativity software products.
                    </p>
                </div>
            </div>
            <div class="info-container">
                <div class="hover-circle">
                </div>
                <div class="info-box">
                    <img class="logo-box" />
                </div>
            </div>
            <div class="circle4-container">
                <span class="circle4"></span>
            </div>
        </div>
        <div class="user-extensions"></div>
</section>